<div style="margin-top: 20px; border-top: 2px solid #ccc; color: #666; text-align: center; font-size: 16px; font-weight: bold; height: 40px;line-height: 40px">
    &copy;版权属于胡荣花童靴所有^-^  &nbsp;欢迎来看小说  &nbsp;免费的哦︿(￣︶￣)︿
</div>